<!--
	This is our page wrapper
	@link https://hexo.io/docs/templates.html

	[1] HTML 5 doctype
	@link https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Introduction_to_HTML5

	[2] Import partial
	@link https://hexo.io/docs/templates.html#Partials

	[3] Import template content
	@link https://hexo.io/docs/templates.html

	[4] Load JS files
	@link https://hexo.io/docs/helpers.html#js
-->

<!-- [1] -->
<!DOCTYPE html>
<html lang="en">
	
	<!-- [2] -->
	<%- partial('_partials/head') %>

<body>

	<div class="flex justify-center items-center vh-100-l">
		<div class="vh-75-l vw-75-l">	
			<!-- [2] -->
			<%- partial('_partials/header')%>
			
			<main class="flex-l flex-row-l">
				<!-- [3] -->
				<%- body %>
			</main>

			<!-- [2] -->
			<%- partial('_partials/footer')%>
		</div>
	</div>

	<!-- [4] -->
	<%- js([
		'//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js',
		'js/scripts'
	])%>

</body>
</html>